/* ----------------ARTICULO-----------------*/
.articulo{
    width: 95%;
    margin-left: 3%;
    margin-right: 2%;
    float: left;
}
/* ----------------"GIF" ----------------*/
.gif{
    width: 100%;
    height: 20%;
    float: left;
}
.persecucion{
    width: 100%;
    height: 100%;
}

/* No iba ser un gif pero era imposible su escalabilidad porque no aceptaba porcentajes por eso lo converti un gif*/